@import "constants/constans.scss";

.card {
    width: 50%;
    margin: 0.5rem;
}

.card_review {
    width: 100%;
    margin-top: 2rem;
}

.container { 
    display: 'flex';
    justify-content: 'space-between';
    margin: 1rem;
}

.card_space {
    display: 'flex';
    justify-content: 'space-between';
}
